{{ define "header" -}}
<!DOCTYPE html>
<html>
	<head>
		<title>Scan</title>
		<link rel="shortcut icon" href="/static/images/search.png">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<!-- https://github.com/bassjobsen/typeahead.js-bootstrap-css -->
		<link href="/static/css/typeaheadjs.css" rel="stylesheet">
		<style type="text/css">
			/* Override cursor for disabled menu items */
			.dropdown-menu > .disabled > a:hover,
			.dropdown-menu > .disabled > a:focus {
				cursor: default !important;
			}
			td button .glyphicon-remove {
				visibility: hidden;
			}
			td:hover > button .glyphicon-remove {
				visibility: visible;
				color: black;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default">
			{{- if ne .NotAuth "" }}
			<div class="alert alert-danger text-center" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Unauthorised:</span>
				{{ .NotAuth }}
			</div>
			{{- end }}
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Scan</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					{{- if .Authenticated }}
					<ul class="nav navbar-nav">
						<li><p class="navbar-text">Total <span class="badge alert-info">{{ .Total }}</span></p></li>
						<li><a href="?lastseen={{ .LastSeen }}">Latest <span class="badge alert-warning">{{ .Latest }}</span></a></li>
						<li><a href="?firstseen={{ .LastSeen }}&lastseen={{ .LastSeen }}">New <span class="badge alert-danger">{{ .New }}</span></a></li>
					</ul>
						{{ if eq .URI "/" }}
					<form class="navbar-form navbar-left" role="search" action="/" method="GET">
						<div class="col-md-2">
							<div class="input-group">
								<input type="text" class="form-control" id="ip" name="ip" placeholder="Search for IP" autocomplete="off">

								<span class="input-group-btn">
									<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
								</span>
							</div>
						</div>
					</form>
					<a class="btn btn-primary navbar-btn" href="/job">New scan</a>
					<a class="btn btn-{{ if not .AllResults }}success{{ else }}default{{ end }} navbar-btn" href="/{{ if not .AllResults }}?all{{ end }}">Active only</a>
						{{ end }}
						{{- if ne .User.Email "" }}
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="navbar-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ or .User.Name .User.Email }}{{ if ne .User.Picture ""}} <img class="img-circle" width=25 height=25 src="{{ .User.Picture }}">{{ end }}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{{- if ne .User.Name "" }}
								<li class="disabled" style="font-size: smaller"><a>{{ .User.Email }}</a></li>
								<li role="separator" class="divider"></li>
								{{- end }}
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
						{{- end }}
					{{- else }}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login{{ if .URI }}?redir={{ .URI }}{{ end }}">Login</a></li>
					</ul>
					{{- end }}
				</div>
			</div>
		</nav>
		{{- if not .Authenticated }}
		<div class="panel panel-info center-block" style="width: 25%">
			<div class="panel-heading"><h3 class="panel-title">Login required</h3></div>
			<div class="panel-body">Please log in to view data</div>
		</div>
		{{- end }}
		<div class="container-fluid">
			<div class="main">
{{- end }}
