{{ define "index" -}}
{{ template "header" . }}
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th>IP</th>
								<th>Port</th>
								<th>Proto</th>
								<th>First Seen</th>
								<th>Last Seen</th>
							</tr>
						</thead>
						<tbody>
							{{- range .Results }}
							<tr>
								<td>{{ if .New }}<span class="label label-danger">New</span>{{ end }}</td>
								<td>{{ .IP }}</td>
								<td>{{ .Port }}</td>
								<td>{{ .Proto }}</td>
								<td>{{ .FirstSeen }}</td>
								<td>{{ .LastSeen }}</td>
							</tr>
							{{- end }}
						</tbody>
					</table>
				</div> <!-- table-responsive -->
{{- template "footer" }}
{{- end }}
