{{ define "index" -}}
{{ template "header" . }}
	{{- if .Authenticated }}
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th>IP</th>
								<th>Port</th>
								<th>Proto</th>
								<th>First Seen</th>
								<th>Last Seen</th>
							</tr>
						</thead>
						<tbody>
							{{- $ActiveOnly := .ActiveOnly }}
							{{- range .Results }}
									<tr>
										{{- if not (and $ActiveOnly .Gone) }}
										<td>
											{{- if .New }}<span class="label label-danger">New</span>{{ end -}}
											{{- if .Gone }}<span class="label label-success">Gone</span>{{ end -}}
											{{- if .HasTraceroute }}<a title="Traceroute for {{ .IP }}" href="/traceroute/{{ .IP }}"><span class="label label-primary"><span class="glyphicon glyphicon-road" aria-hidden="true"></span></span></a>{{ end -}}
										</td>
										<td>{{ .IP }}</td>
										<td>{{ .Port }}</td>
										<td>{{ .Proto }}</td>
										<td>{{ .FirstSeen }}</td>
										<td>{{ .LastSeen }}</td>
										{{- end }}
									</tr>
						  {{- else }}
								<div class="panel panel-warning center-block" style="width: 25%">
									<div class="panel-heading"><h3 class="panel-title">No results</h3></div>
									<div class="panel-body">No results found</div>
								</div>
							{{- end }}
						</tbody>
					</table>
				</div> <!-- table-responsive -->
				{{- if .Submission.Time }}
				<div><small>Last submission at {{ .Submission.Time }} by {{ .Submission.Host }}{{ if .Submission.Job }} for job {{ .Submission.Job }}{{ end }}</small></div>
				{{- end }}
	{{- end }}
{{- template "footer" }}
{{- end }}
