# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  go: circleci/go@1.6.0

jobs:
  build:
    parameters:
      go_version:
        description: Go version
        type: string
        default: "1.16"

    environment:
      TEST_RESULTS: &test_results /tmp/test-results

    executor:
      name: go/default
      tag: << parameters.go_version >>

    steps:
      - checkout
      - go/mod-download-cached
      - run:
          name: Install SQLite
          command: |
            sudo apt-get update
            sudo apt-get install -y libsqlite3-0
      - run:
          name: Configure environment
          command: |
            echo 'VERSION=${CIRCLECI_TAG:-$(git describe)}' >> $BASH_ENV
            echo 'VERSION=${VERSION#v*}' >> $BASH_ENV
            echo 'DIST_NAME=scan-${VERSION}-$(go env GOOS)-$(go env GOARCH)' >> $BASH_ENV
            echo 'SHA256_FILE=${DIST_NAME}.sha256' >> $BASH_ENV
      - run:
          name: Run unit tests
          command: |
            mkdir -p $TEST_RESULTS
            gotestsum --junitfile $TEST_RESULTS/scan-tests.xml -- -coverprofile $TEST_RESULTS/cover.out
      - store_artifacts:
          path: *test_results
          destination: test-results
      - store_test_results:
          path: *test_results
      - run:
          name: Build binary
          command: |
            mkdir .build
            go build -o .build/$DIST_NAME
            cd .build
            shasum -a 256 $DIST_NAME > $SHA256_FILE
      - persist_to_workspace:
          root: .
          paths:
            - .build
      - store_artifacts:
          path: .build
          destination: .

  release:
    docker:
      - image: cibuilds/github:0.13

    steps:
      - checkout  # Needed so we can get git metadata
      - attach_workspace:
          at: .
      - run:
          name: Publish release to GitHub
          command: |
            VERSION=${CIRCLECI_TAG:-$(git describe --always)}
            ghr -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./.build/

workflows:
  Branch builds:
    jobs:
      - build:
          matrix:
            parameters:
              go_version: ["1.16"]
          filters: &filters-branch
            branches:
              ignore: master

  Release:
    jobs:
      - build:
          filters: &filters-release
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - hold:
          type: approval
          requires:
            - build
          filters:
            <<: *filters-release
      - release:
          requires:
            - hold
          filters:
            <<: *filters-release
